
canvas {
  display: block;
  margin-left: 0;
  border: 5px double #0c9247;
}

html, body {
  margin: 0;
  padding: 0;
}

#dir{
  text-align: center;
  margin-left: 0;
}

#qt{
  margin-top: 30px;
  margin-left: 600px;
  width: 10%;
  border: 3px solid #0c9247;
  padding: 10px;
  text-align: center;
}

#d1{
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 0;
  width: 25%;
  height: 40%;
  border: 3px solid #0c9247;
  padding: 10px;
  text-align: center;
  letter-spacing: 2 px;
  line-height: 1.5;

  }
  
  #d2{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 500px;
    width: 25%;
    border: 3px solid #0c9247;
    padding: 10px;
    text-align: center;
    }

    #d3{
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: 500px;
      width: 25%;
      border: 3px solid #0c9247;
      padding: 10px;
      text-align: center;
      }

.header{
  font-size: 22;
}
